.box {
    background-color: white;
    color: black;
    margin: auto;
}

.logo-size {
    margin: auto;
    height: 200px;
    width: 150px;
}

.text-center {
    text-align: center;
    padding-top: 25px;
    padding-left: 100px;
}

.name-center {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 40%;
}

.level-center {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 40%;
}

.location-center {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 40%;
}

.bio-center {
    margin: auto;
    position: absolute;
    top: 25%;
    left: 40%;
}